/* styling for bio.css */
h2 {
	text-align: center;
	margin-right: 500px;
	margin-left: 500px;
	margin-bottom: 50px;
	padding: 5px;
	border: 5px;
	border-style: dotted;
	border-color: green;
}

body {
	margin: 50px;
	font-family: cursive;
}

p {
	padding-left: 100px;
	padding-right: 100px;
	text-align: justify;
}

