body {
	margin: 50px;
}

h1 {
	text-align: center;
	padding-bottom: 20px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

h2 {
	font-size: 22px;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

